{% extends 'base.html.twig' %}

{% block menu %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{{ path('web_main') }}">Active slot</a>
            <a class="p-2 text-muted active" href="{{ path('show_all_products') }}">Slots</a>
            <a class="p-2 text-muted" href="{{ path('web_news') }}">News</a>
            <a class="p-2 text-muted" href="{{ path('web_faq') }}">FAQ</a>
            <a class="p-2 text-muted" href="{{ path('web_contact_us') }}">Contact Us</a>
        </nav>
    </div>
{% endblock %}

{% block main %}


    {% for product in pagination %}
    <main role="main" class="container">
<hr>
        <div class="row">


            <div class="col-lg-5 col-md-10 col-sm-12">
                <img src="/images/products{{ asset(product.photo)}}" width="400" height="400">
            </div>

            <div class="col-lg-1 col-md-6 col-sm-6 desc"></div>

            <div class="col-lg-6 col-md-6 col-sm-6 desc">


                <div>Катеогрия: {{ product.category }}</div>
                <div>Название: {{ product.name }}</div>
                <div>Продавець: {{ product.owner }}</div>
                <div>Начало торга: {{ product.startAt|date("d F Y") }}</div>
                <div>Окончание торга: {{ product.finishAt|date("d F Y") }}</div>
                <div>Описание: {{ product.about|raw }}</div>
                <div style="background-color: #9fa9b7">
                    <div><strong>Стартовая цена: {{ product.price }}</strong></div>
                    <div>Количество ставок: {{ product.bitHistories|length }}</div>
                    {% if product.lastBid %}
                      <div>Последняя ставка: {{ product.lastBid }}</div>
                    {% endif %}
                </div>

                    <br>
                    <br>
                    <br>
                    <a href="{{ path('show_product', {'id':product.id}) }}"> <button class="btn-info">Сделать ставку</button></a>


            </div>
        </div>
    <hr>
{% endfor %}
    <div align="center"><strong>{{knp_pagination_render(pagination)}}</strong></div>
    </main>
{% endblock %}