{% extends 'base.html.twig' %}

{% block menu %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{{ path('web_main') }}">Active slot</a>
            <a class="p-2 text-muted" href="{{ path('show_all_products') }}">Slots</a>
            <a class="p-2 text-muted" href="{{ path('web_news') }}">News</a>
            <a class="p-2 text-muted" href="{{ path('web_faq') }}">FAQ</a>
            <a class="p-2 text-muted" href="{{ path('web_contact_us') }}">Contact Us</a>
        </nav>
    </div>
{% endblock %}

{% block main %}



    <main role="main" class="container">
        <div class="row">

                <div  class="col-lg-5 col-md-10 col-sm-12">
                    <img   src="/images/products{{ asset(product.photo) }}" width="400" height="400">
                </div>

            <div class="col-lg-1 col-md-6 col-sm-6 desc"></div>

            <div id="hide" class="col-lg-6 col-md-6 col-sm-6 desc">


                <div class="text-uppercase" >Катеогрия: {{ product.category }}</div>
                <div class="font-italic">Название: {{ product.name }}</div>
                <div>Продавец: {{ product.owner }}</div>
                <div>Начало торга: {{ product.startAt|date("d F Y") }}</div>
                <div class="text-danger">Окончание торга: {{ product.finishAt|date("d F Y") }}</div>
                <div class="text-info">Описание: {{ product.about }}</div>
                <div id="bids" >
                    <div style="background-color: lawngreen"><strong>Стартовая цена: {{ product.price }}</strong></div>
                    <div>Количество ставок:
                        <span id="count-bids"> {{ product.bitHistories|length }}</span>
                    </div>
                    <div style="background-color: #9fa9b7">
                    <span id="bid-list" >
                    {% if product.lastBitHistory %}
                        {%  for bit in product.lastBitHistory|slice(-3, 3) %}
                            <div>Cтавка: {{ bit.getBidAmount() }} Время: {{ bit.getBidTime()|date("d F Y") }}  Пользователь - {{ bit.getUser() }}</div>
                        {% endfor %}
                    {% endif %}
                        </span></div>
                   <div>Последняя ставка:  <span id="curentbid">{{ product.lastBid() }}</span></div>
                </div>

                <form method="post" action="{{ path('take_bid_product', {"id":product.id}) }}" onsubmit="return validate()";>
                    <label>Сделайте свою ставку:</label><br/>
                    <input  id="bid" type="number" name="amount" placeholder="">
                    <button type="submit" class="text-success">Поставить</button>
                </form>
<div><small class="text-danger">Чтоб участвовать в торгах нужно зарегистртроваться или войти на сайт!!!</small></div>
                <strong><div id="not-register" class="text-danger"></div></strong>

            </div>
        </div>
    </main>


{% endblock %}

{% block javascripts %}
<script>

    $("img").mouseenter(function(){
            $("img").removeAttr('width', 'height');
            $("#hide").hide();
    });
    $("img").mouseleave(function(){
        $("img").attr('width', 400).attr('height', 400);
        $("#hide").show();
    });
</script>

    <script>

        function validate() {

            var bid = document.getElementById('bid');
            var lastBid = document.getElementById('curentbid');
            var last = lastBid.innerHTML;
            console.log(bid.value);
            console.log(lastBid.innerHTML);
            var currentBid = +last + +last * 0.1;
            console.log(currentBid);

            if(bid.value < currentBid){
                alert("Ваша ставка ниже допустимой");
                return false;
            }
            if (bid.value > currentBid){

                $(document).ready(function(){

                    $("form").submit(function(){
                        var action = $(this).attr('action');
                        var amount = $("input[name=amount]").val();
                        var http = new XMLHttpRequest();
                        var params = 'amount=' + amount;
                        http.open('POST', action, true);
                        //Send the proper header information along with the request
                        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                        http.onreadystatechange = function() {//Call a function when the state changes.
                            if(http.readyState == 4 && http.status != 200){
                                //alert("Чтоб участвовать в торгах нужно зарегистртроваться или войти на сайт!!!")
                                var notRegister = "Ставка не принята! ";
                                $('#not-register').html(notRegister);
                            }
                            if(http.readyState == 4 && http.status == 200){
                                var response = JSON.parse(http.responseText);
                                $('#count-bids').html(response.count);
                                bidString = '';
                                for(var key in response.bids) {
                                    var bid = response.bids[key];
                                    bidString = bidString + '<div>Cтавка: '+bid.amount+' Время: '+bid.timebid+' Пользователь -  '+bid.user_name+'</div>';
                                    lastAmount = '<span>'+bid.amount+'</span>';
                                }
                                $('#count-bids').html(response.count);
                                $('#bid-list').html(bidString);
                                $('#curentbid').html(lastAmount);


                            }
                            if(http.readyState == 4 && http.status == 400) {
                                alert(http.responseText);
                            }
                        }
                        http.send(params);
                    });
                    return false;
                });
               return false;
        }

        }
    </script>

{% endblock %}